extends layout

block content
  div.h-screen.bg-slate-600.text-white
    div.flex.flex-col.justify-center.items-center.w-full.h-full.gap-24.px-16(class="2xl:px-[20%]")
      h1.font-bold.text-8xl.text-center CLAV: Classificação e Avaliação da Informação Pública
      div.flex.gap-32
        a(href="classes" class="bg-slate-800 w-64 h-24 flex justify-center items-center rounded-xl text-2xl hover:bg-slate-700 cursor-pointer shadow-lg") Classes
        a(href="termosIndice" class="bg-slate-800 w-64 h-24 flex justify-center items-center rounded-xl text-2xl hover:bg-slate-700 cursor-pointer shadow-lg") Termos de Índice
